.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 75px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

.r-color {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 45px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
}


/* Shared Styles */
.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 14px 30px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

}

.section-title {
    font-size: 32px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.text-center {
    text-align: center;
}

/* Header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: top left, bottom right;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 155px;
}

.banner-content {
    max-width: 575px;
}

.subtitle {
    font-weight: 600;
    font-size: 39px;
    color: #474747;
}

.title {
    font-weight: bold;
    font-size: 79px;
    color: #181818;
}

.profile-img {
    width: 480px;

}

.description {
    color: #757575;
    font-size: 14px;
}

/* Main Styles */
main {
    max-width: 910px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* About */
.about {
    border-radius: 9px;
    padding: 100px 110px;
    text-align: center;

}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-descrip {
    font-weight: 600;

}

/* Skills Section */
.skill-container {
    display: flex;
    gap: 22px;

}

.skill {
    border-radius: 4px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
    padding: 20px;
}

.skill-descrip {
    font-size: 14px;
    color: #757575;
}

.section-descrip {
    font-size: 16px;
    color: #757575;
    margin-bottom: 40px;
}

.section-title {
    font-size: 29px;
    font-weight: bold;
    color: #181818;
}

.skill-title {
    font-size: 18px;
    font-weight: bold;
    color: #181818;
}

/* Resume Section */
.resume-title {
    font-size: 31px;
    font-weight: bold;
}

.resume-column-title {
    font-size: 26px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 25px;
}

.item-title {
    font-size: 21px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 3px;
}

.item-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 16px;

}

.item-description {
    font-size: 12px;

    color: #757575;
}

.resume-container {
    display: flex;
    gap: 21px;
}

.resume hr {
    margin: 25px 0;
}

.CV {
    margin-top: 44px;
}

/* Footer Section */
footer{
    display: flex;
    padding: 110px 210px;
    gap: 97px;
    
}
.footer-1-title{
    font-size: 34px;
    font-weight: bold;
    color: #181818;
}

.footer-1-descrip{
    font-size: 12px;
    color: #474747;
    /* margin-top: 16px;
    margin-bottom: 26px; */
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 60px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    border: none;
    padding: 8px 22px;
    margin-bottom: 22px;
}