.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 75px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

.r-color {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 45px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
}


/* Shared Styles */
.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 14px 30px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

}

/* Header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: top left, bottom right;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 155px;
}

.banner-content {
    max-width: 575px;
}

.subtitle {
    font-weight: 600;
    font-size: 39px;
    color: #474747;
}

.title {
    font-weight: bold;
    font-size: 79px;
    color: #181818;
}

.profile-img {
    width: 480px;

}

.description {
    color: #757575;
    font-size: 14px;
}